<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <% users.forEach(function(user){ %>
        <form method='post' action="/update<%= user.user_id %>" autocomplete="off">

          <div class="form-group">
            <label><b>User Name:</b></label>
            <input type="text" name="name" class=""form-control" value="<%= user.user_name%>">
          </div>

          <div class="form-group">
            <label><b>User Email:</b></label>
            <input type="email" name="email" class=""form-control" value="<%= user.user_email%>">
          </div>

          <div class="form-group">
            <label><b>User password:</b></label>
            <input type="password" name="password" class=""form-control" value="<%= user.user_password%>">
          </div>

          <input type="submit" name="update" value="update" class="btn btn-success">
        </form>
       <% }) %>
      </div>
  </body>
</html>
